[submodule "3rdParty/spdlog"]
	path = 3rdParty/spdlog
	url = https://github.com/gabime/spdlog.git
[submodule "3rdParty/gtest"]
	path = 3rdParty/gtest
	url = https://github.com/google/googletest.git
[submodule "3rdParty/curlpp"]
	path = 3rdParty/curlpp
	url = https://github.com/jpbarrette/curlpp.git
[submodule "3rdParty/metastuff"]
	path = 3rdParty/metastuff
	url = https://github.com/eliasdaler/MetaStuff.git
[submodule "3rdParty/json"]
	path = 3rdParty/json
	url = https://github.com/nlohmann/json.git
[submodule "3rdParty/date"]
	path = 3rdParty/date
	url = https://github.com/HowardHinnant/date.git
[submodule "3rdParty/cxxopts"]
	path = 3rdParty/cxxopts
	url = https://github.com/jarro2783/cxxopts.git
